body {
  width: 100%;
  height: 100%;
  margin: 0;

}
h1, nav, figure {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(176, 222, 176);
}


figure figcaption {
  font-size: smaller
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 20px;;
}

div {
  float: left;
  text-align: center;
  background-color: rgb(176, 222, 176);
  width: 25%;
}